<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<!-- <class name="pageObjects.DatabaseTest"/> -->
			<!-- <class name="testCases.MyInfo_02"/> -->
			<!-- <class name="testBase.TestBase"/> -->
			<!--  <class name="testCases.Immigration_MyInfo_03"/> -->

			<!--<class name="testCases.LoginPage_01"/> -->
			<!--<class name="testCases.MyInfo_02" /> -->
			
			<class name="testCases.Immigration_MyInfo_03" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
